.parallax-window {
    min-height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .parallax-mirror {
    top: -120px !important;
    height: 550px !important;
  }
  
  .hero .parallax-content .breadcrumb-item {
    padding-bottom: 10px;
  }
  .hero .parallax-content .breadcrumb-item .old-link {
    color: #bcac76 !important;
  }
  .hero .parallax-content .breadcrumb-item .old-link:hover {
    color: #9a884b !important;
    text-decoration: underline !important;
  }
  .hero .parallax-content .breadcrumb-item i {
    color: #868e96 !important;
  }
  .hero .parallax-content .breadcrumb-item .main-link {
    color: #868e96 !important;
  }
  .hero .parallax-content .title {
    font-weight: bold;
    font-size: 55px;
  }
  .hero .parallax-content .description {
    font-size: 20px;
    font-weight: normal;
    color: #212529 !important;
    padding-top: 25px;
  }
  
  .blog-index .blog-card .card-wrapper {
    text-align: left;
    padding-left: 2rem;
  }
  .blog-index .blog-card .text-dark {
    font-weight: bold;
    text-align: left;
    margin-top: 10px !important;
  }
  .blog-index .blog-card .text-dark:hover {
    text-decoration: underline !important;
  }
  .blog-index .blog-card .full-info p a {
    color: #bcac76 !important;
    text-transform: uppercase;
    padding-right: 10px;
  }
  .blog-index .blog-card .full-info p a:hover {
    text-decoration: underline !important;
  }
  .blog-index .blog-card img {
    width: 305px;
    text-align: center;
  }
  .blog-index .blog-card .item {
    text-align: center;
  }
  
  @media screen and (max-width: 575px) {
    .parallax-mirror {
      top: -100px !important;
    }
    .parallax-window {
      padding-top: 60px;
    }
    .parallax-window a {
      font-size: 15px;
    }
    .parallax-window .title {
      font-size: 20px !important;
    }
    .blog-index {
      padding-top: 90px;
    }
    .blog-index .blog-card img {
      width: 100%;
    }
    .blog-index .blog-card .card-wrapper {
      padding-left: 0rem;
    }
  }
  @media screen and (min-width: 575px) and (max-width: 770px) {
    .parallax-mirror {
      top: -100px !important;
    }
    .parallax-window {
      padding-top: 60px;
    }
    .parallax-window a {
      font-size: 15px;
    }
    .parallax-window .title {
      font-size: 20px !important;
    }
    .blog-index {
      padding-top: 90px;
    }
    .blog-index .blog-card img {
      width: 225px;
    }
    .blog-index .blog-card .card-wrapper {
      padding-left: 1rem;
    }
  }
  @media screen and (min-width: 990px) and (max-width: 1200px) {
    .parallax-mirror {
      top: -100px !important;
    }
    .parallax-window {
      padding-top: 110px;
    }
    .blog-index {
      padding-top: 90px;
    }
    .blog-index .blog-card img {
      width: 225px;
    }
    .blog-index .blog-card .card-wrapper {
      padding-left: 1rem;
    }
  }